<template>
  <div
    :style="banner"
    class="lg:h-80vh h-50vh grid grid-rows-2 pb-18 bg-center"
  >
    <NuxtLink to="/" class="mt-10 ml-3 md:ml-25">
      <img src="/logo-balaio.svg" alt="iconeHome" class="icone" />
    </NuxtLink>
    <Navbar class="absolute top-4 lg:top-6 w-85wv right-2"></Navbar>
    <h1 class="hidden">{{ titulo }}</h1>
    <h2
      class="justify-self-center md:justify-self-auto text-left font-medium text-xl lg:text-2xl font-bold text-white text-shadow-xl md:ml-25 w-80vw md:w-40vw lg:w-35vw rounded p-2"
    >
      {{ subtitulo }}
    </h2>
    <div class="flex justify-end">
      <img src="/logo-psp-ic.png" alt="PSP" class="icone" />
    </div>
  </div>
</template>

<script>
import getImage from '../libs/getImage'

export default {
  props: {
    titulo: {
      type: String,
      default: () => 'Título',
    },
    subtitulo: {
      type: String,
      default: () => 'Frase de efeito',
    },
    img: {
      type: String,
      default: () => null,
    },
    logo: {
      type: String,
      default: () => null,
    },
  },
  data() {
    return {
      backgroundOverlay: false, // '255, 0, 150, 0.3',
    }
  },
  computed: {
    banner() {
      return getImage(this.img, true, this.backgroundOverlay)
    },
  },
}
</script>
