<template>
  <div>
    <!-- Menu da tela grande lg @media (min-width: 1024px) -->
    <div class="hidden lg:flex flex-row justify-end">
      <NuxtLink
        v-for="item in menuItems"
        :key="item.name"
        :to="item.link"
        class="divicone"
      >
        <p class="picone">{{ item.name }}</p>
      </NuxtLink>
    </div>
    <div class="lg:hidden flex justify-end items-center">
      <button class="outline-none mobile-menu-button" @click="toggle">
        <svg
          class="w-10 h-10 pt-2 text-white"
          x-show="!showMenu"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>

    <!-- Menu da tela pequena menor que 1024 -->

    <div
      :class="[
        menu ? 'block' : 'hidden',
        'fixed',
        'w-screen',
        'right-0',
        'top-0',
        'bg-gray-600',
        'h-screen',
        'z-9',
      ]"
    >
      <div class="absolute right-2 top-5 cursor-pointer" @click="toggle">
        <svg
          fill="#FFFFFF"
          height="36"
          viewBox="0 0 24 24"
          width="36"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </div>
      <ul class="pt-12">
        <li class="active w-full text-center">
          <NuxtLink to="/" class="menuitem p-4">
            <p class="text-2xl">Início</p>
          </NuxtLink>
          <NuxtLink
            v-for="item in menuItems"
            :key="item.name"
            :to="item.link"
            class="menuitem p-4"
          >
            <p class="text-2xl">{{ item.name }}</p>
          </NuxtLink>
        </li>
      </ul>

      <div class="flex flex-row justify-around pt-5">
        <a href="https://www.facebook.com/coolab.br" target="_blank">
          <img src="~/assets/icon_social_fb.svg" alt="iconeFB" class="w-50px" />
        </a>
        <a
          href="https://www.flickr.com/search/?sort=date-taken-desc&safe_search=1&tags=coolab"
          target="_blank"
        >
          <img
            src="~/assets/icon_social_flickr.svg"
            alt="iconeFlick"
            class="w-50px"
          />
        </a>
        <a href="https://twitter.com/coolabdiz" target="_blank">
          <img
            src="~/assets/icon_social_twitter.svg"
            alt="iconetwitter"
            class="w-50px"
          />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      menu: false,
      menuItems: [
        {
          name: 'Sobre',
          link: '/sobre',
        },
        {
          name: 'Mercado Local',
          link: '/Mercado',
        },
      ],
    }
  },
  methods: {
    toggle() {
      this.menu = !this.menu
    },
  },
}
</script>

<style>
.nuxt-link-exact-active {
  box-shadow: none;
  opacity: 1;
  cursor: auto;
}

.nuxt-link-exact-active img {
  cursor: auto;
  width: 400px;
}
</style>
