<template>
  <NuxtLink :to="link">
    <div
      class="relative h-350px lg:h-450px w-300px lg:h-300px lg:w-400px bg-cover rounded-2xl flex flex-col items-center gap-y-15px blur-sm hover:blur-none cursor-pointer"
      :style="getBackground(image)"
    >
      <div
        class="absolute w-full bg-secondary bg-opacity-85 rounded-b-2xl bottom-0 transition duration-500 ease-in-out hover:bg-opacity-100"
      >
        <h2 class="font-extrabold uppercase text-xl text-center py-25px">
          {{ title }}
        </h2>
      </div>
    </div>
  </NuxtLink>
</template>

<script>
import getImage from '../libs/getImage'

export default {
  props: {
    title: {
      type: String,
      default: () => 'Título',
    },
    image: {
      type: String,
      default: () => null,
    },
    link: {
      type: String,
      default: () => null,
    },
  },
  data() {
    return {
      icone: getImage(this.image, true),
    }
  },
  methods: {
    getBackground(img) {
      return getImage(img, true)
    },
  },
}
</script>
