<template style="display: flex; flex-wrap: wrap">
  <div
    style="padding: 10px; margin-bottom: 10px"
    class="h-350px lg:h-450px w-300px lg:h-300px lg:w-300px rounded-xl bg-fundo"
  >
    <div class="w-full rounded top-3 left-3">
      <h2 class="font-extrabold text-s py-10px text-red-900">
        {{ nome }}
      </h2>
    </div>

    <div
      style="display: flex; justify-content: space-between"
      class="w-full rounded top-20"
    >
      <div class="w-1/2">
        <h2>
          {{ contato }}
        </h2>
        <a
          v-if="instagram"
          class="underline text-blue-500"
          target="_blank"
          :href="`https://instagram.com/${instagram}`"
        >
          @{{ instagram }}
        </a>
      </div>
      <img :src="logo" :alt="nome" width="80" height="80" />
    </div>
    <div class="rounded top-35">
      <p class="text-s">
        {{ descricao }}
      </p>
    </div>
    <div class="top-30 rounded-3xl">
      <button
        v-for="c in categoria.split(',')"
        :key="c"
        class="m-1 px-6 py-2 bg-green-500 font-medium text-sm hover:bg-green-600 text-green-100 rounded"
      >
        {{ c }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    nome: {
      type: String,
      default: () => 'Nome',
    },
    contato: {
      type: String,
      default: () => 'Contato',
    },
    instagram: {
      type: String,
      default: () => '',
    },
    categoria: {
      type: String,
      default: () => 'Categoria',
    },
    descricao: {
      type: String,
      default: () => 'lorem ipson',
    },
    produtor: {
      type: String,
      default: () => 'Produtor(a)',
    },
    logo: {
      type: String,
      default: () => 'bg-balaio.jpg',
    },
  },
}
</script>
