<template>
  <div
    class="relative h-350px lg:h-450px w-300px lg:h-300px lg:w-400px bg-cover rounded-sm flex flex-col items-center gap-y-15px blur-sm hover:blur-none bg-gray-200 shadow-md"
  >
    <div
      :style="icone"
      class="absolute left-3 md:top-3 top-24 h-150px w-200px bg-cover bg-center"
    ></div>

    <div class="absolute top-4 h-250px right-16 md:right-4 text-black">
      <h2>{{ nome }}</h2>
      <p>{{ contato }}</p>
      <p>{{ cidade }}</p>
    </div>

    <p class="absolute bottom-3 md:bottom-15 text-black left-3">
      {{ descricao }}
    </p>
  </div>
</template>

<script>
import getImage from '../libs/getImage'

export default {
  props: {
    nome: {
      type: String,
      default: () => 'Categoria',
    },
    image: {
      type: String,
      default: () => null,
    },
    contato: {
      type: String,
      default: () => 'Nome',
    },
    cidade: {
      type: String,
      default: () => 'Nome',
    },
    descricao: {
      type: String,
      default: () => 'Nome',
    },
  },
  data() {
    return {
      icone: getImage(this.image, true),
    }
  },
  methods: {
    getBackground(img) {
      return getImage(img, true)
    },
  },
}
</script>
