<template>
  <div class="bg-light">
    <NuxtLink to="/" class="absolute top-4 left-8 lg:ml-13vw">
      <img src="/logo-balaio.svg" alt="iconeHome" class="icone" />
    </NuxtLink>
    <Navbar class="h-10vh bg-primary bg-opacity-90"></Navbar>
    <div class="min-h-86vh">
      <Nuxt />
    </div>
    <Footer></Footer>
  </div>
</template>

<script></script>

<style>
.nuxt-content-container h2 {
  font-size: 1.5em;
  padding: 10px 0;
}

.nuxt-content-container h1 {
  font-size: 2em;
}

.nuxt-content-container h3 {
  font-size: 1em;
  padding: 5px 0;
}

.nuxt-content-container h4 {
  font-size: 1em;
  padding: 3px 0;
  font-weight: 400;
}

@media screen and (min-width: 1024px) {
  .nuxt-content-container {
    max-width: 968px;
    margin: 0 auto;
  }
}
</style>
