<template>
  <article>
    <span class="w-35px relative top-3 left-2">
      <NuxtLink class="w-35px" to="/blog">
        <img
          src="~/assets/arrow.svg"
          alt="iconeBack"
          class="w-35px h-35px cursor-pointer"
        />
      </NuxtLink>
    </span>

    <h2 class="text-3xl text-center py-10px">{{ blog.titulo }}</h2>
    <div class="w-90vw m-auto py-10px">
      <nuxt-content :document="blog" />
    </div>
  </article>
</template>

<script>
export default {
  layout: 'items',
  async asyncData({ $content, app, params, error }) {
    const slug = params.pathMatch.split('/')[2]
    const [blog] = await $content({ deep: true }).where({ slug }).fetch()
    if (!blog) {
      return error({ statusCode: 404, message: 'Artigo não encontrado :(' })
    }

    return {
      blog,
    }
  },
}
</script>
