<template>
  <article class="bg-gray-300">
    <h2 class="text-3xl py-20px text-center">Noticias</h2>
    <div class="nav pb-100px">
      <NavBlog
        v-for="(post, index) in blog"
        :key="index"
        :title="post.titulo"
        :link="`${post.dir.split('/blog')[1]}/${post.slug}`"
        :image="post.imagem || 'bg-coolab..png'"
      />
    </div>
  </article>
</template>

<script>
import getImage from '../libs/getImage'

export default {
  layout: 'pages',
  async asyncData({ $content, params }) {
    const blog = await $content('blog', { deep: true })
      .where({ ativo: { $in: ['sim', 'Sim', 'si', 's'] } })
      .sortBy('data', 'desc')
      .fetch()

    return {
      blog,
    }
  },
  methods: {
    getBackground(img) {
      return getImage(img, true)
    },
  },
}
</script>
<style>
.nuxt-content a {
  color: blue;
}
</style>
