<template>
  <article class="w-75vw mx-auto my-10">
    <h2 class="text-center text-xl font-bold my-5">Cotas</h2>

    <div class="nav pb-150px">
      <NavMarket
        v-for="(item, index) in items"
        :key="index"
        :produto="item.produto"
        :categoria="item.categoria"
        :unidade="item.unidade"
        :periodo="item.periodo"
        :duracao="item.duracao"
        :total="item.total"
        :limite="item.limite"
        :cotas="item.cotas"
        :preco="item.preco"
        :image="item.produto + '.png'"
      >
      </NavMarket>
    </div>
  </article>
</template>

<script>
export default {
  layout: 'pages',
  data: () => ({
    items: [],
  }),
  async fetch() {
    if (process.env.MARKET_SHEET_ID) {
      this.items = await this.$http.$get(
        `https://opensheet.elk.sh/${process.env.MARKET_SHEET_ID}/1`
      )
    }
  },
}
</script>
