<template>
  <main class="bg-light">
    <Header
      :titulo="page.titulo"
      :subtitulo="page.subtitulo"
      :img="page.imagemBanner"
      :logo="page.logo"
    >
    </Header>
    <div class="mx-auto pb-8 lg:flex lg:flex-col">
      <h2 class="navtitle pt-12">Nossos serviços:</h2>
      <div class="nav">
        <div class="navitem">
          <a href="http://flix.psp.rede">
            <img src="/flix.svg" alt="JellyFlix" class="h-105px" />
          </a>
          <a
            href="http://flix.psp.rede"
            class="text-xl text-green-700 font-bold"
            >Jellyflix</a
          >
          <p class="text-center py-2 lg:py-0">Stream de filmes e músicas</p>
        </div>

        <div class="navitem">
          <a href="http://arquivos.psp.rede">
            <img src="/arquivo.svg" alt="Arquivos" class="h-105px" />
          </a>
          <a
            href="http://arquivos.psp.rede"
            class="text-xl text-green-700 font-bold"
            >Arquivos</a
          >
          <p class="text-center py-2">
            Compartilhe vídeos, imagens e audios com a comunidade
          </p>
        </div>

        <div class="navitem">
          <a href="mercado">
            <img src="/mercado.svg" alt="Mercado Local" class="h-105px" />
          </a>
          <a href="mercado" class="text-xl text-green-700 font-bold"
            >Mercado Local</a
          >
          <p class="text-center py-2">Veja as produtoras do nosso bairro</p>
        </div>

        <div class="navitem">
          <a href="http://arquivos.psp.rede/share/USSZ5EK7">
            <img src="/news.svg" alt="Newsletter" class="h-105px" />
          </a>
          <a
            href="http://arquivos.psp.rede/share/USSZ5EK7"
            class="text-xl text-green-700 font-bold"
            >Newsletter</a
          >
          <p class="text-center py-2">Acompanhe nossas notícias</p>
        </div>
      </div>
    </div>

    <hr
      class="my-12 mx-auto w-95vw lg:mt-18 lg:w-75vw border-black border-0.5"
    />
  </main>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const page = await $content('index').fetch()
    const tools = await $content('ferramentas')
      .where({ destaque: 'sim' })
      .fetch()
    const places = await $content('lugares').fetch()
    return {
      page,
      places,
      tools,
    }
  },
}
</script>

<style>
html,
body {
  font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Alternates', sans-serif;
}
</style>
