<template>
  <article class="w-75vw mx-auto my-10">
    <select>
      <option
        v-for="(item, index) in categorias"
        :key="index"
        :options="index"
        :label="item.categorias"
      ></option>
    </select>

    <div class="nav pb-150px">
      <NavMarket
        v-for="(item, index) in items"
        :key="index"
        :nome="item.nome"
        :contato="item.contato"
        :instagram="item.instagram"
        :descricao="item.descricao"
        :categoria="item.categoria"
        :logo="item.logo"
      >
      </NavMarket>
    </div>
  </article>
</template>

<script>
export default {
  layout: 'pages',
  data: () => ({
    items: [],
    categorias: [],
  }),
  async fetch() {
    if (process.env.MARKET_SHEET_ID) {
      this.items = await this.$http.$get(
        `https://opensheet.elk.sh/${process.env.MARKET_SHEET_ID}/1`
      )
      this.categorias = await this.$http.$get(
        `https://opensheet.elk.sh/${process.env.MARKET_SHEET_ID}/2`
      )
    }
  },
}
</script>
